[project]
name = "python-bu"
version = "0.1.0"
description = "Kernel sample app for Browser Use"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "browser-use>=0.1.46",
    "kernel==0.3.0",
    "langchain-openai>=0.3.11",
    "pydantic>=2.10.6",
]
